/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    max-width: 1500px;
}

/* layout */
.container {
    width: 80%;
    margin: 10px auto;
}

/* header section */
header {
    height: 80px;
}

header > img {
    height: 60%;
    margin-bottom: 20px;
}

a:nth-child(1) {
    padding-left: 0px;
}

.nav {
    padding: 10px 10px 0px 10px;
    font-size: 0.8em;
}

a:link, a:visited {
    color: #A0A0A0;
    text-decoration: none;
}

/* layout jumbotron */
.jumbotron  {
    height: 450px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    margin: 30px 0;
    border-radius: 10px;
}

.container-jumbotron {
    background-color: rgba(160, 160, 160, 0.5);
    height: 450px;
    border-radius: 10px;
}

/* testi jumbortron */
.jumbotron h1 {
    font-weight: 300;
    padding: 280px 450px 0px 40px;
    color: white;
}

.jumbotron h2 {
    font-weight: 300;
    font-size: 0.8em;
    padding: 0px 450px 10px 40px;
    color: white;
}

/* main {
    background-color: #0186FF;
} */

.header h3 {
    font-size: 0.8em;
    font-weight: 300;
    color: #A0A0A0;
}

/* layout colonne */
.columns {
    margin-top: 30px;
}

div[class$="-col"] {
    float: left;
}

.first-col, 
.third-col {
    width: 20%;
}

.second-col {
    width: calc(60% - 40px);
    margin: 0px 20px;
}

/* css immagini colonne */
.background-grey {
    background-color: rgba(160, 160, 160, 0.5);
    height: 100%;
    border-radius: 10px;
}

.first-col-img,
.second-col-img,
.third-col-img {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.first-col-img {
    background-image: url(../img/img-1.jpg);
}

.second-col-img {
    background-image: url(../img/banner-2.jpg)
}

.third-col-img {
    background-image: url(../img/img-3.jpg);
}

/* css testi colonne */
.first-col-text h4,
.second-col-text h4,
.third-col-text h4 {
    padding: 10px 0px;
    font-weight: 500;
}

.first-col-text p,
.second-col-text p,
.third-col-text p {
    font-weight: 300;
    color: #A0A0A0;
}

/* footer */
footer {
    margin-top: 30px;
    text-align: center;
    font-weight: 300;
}

.heart-footer {
    color: red;
}