* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* layout */
.container {
    width: 80%;
    margin: 10px auto;
}

header {
    height: 80px;
    background-color: #E579E6;
}

/* layout jumbotron */
.jumbotron  {
    height: 400px;
    background-color: #E1D67A;
    margin: 10px 0;
}

main {
    background-color: #0186FF;
}

.header {
    height: 65px;
    background-color: #ABCFE7;
}

/* layout colonne */
div[class^="colonna"] {
    float: left;
}

.colonna-sinistra, 
.colonna-destra {
    width: 20%;
    background-color: #ABCFE7;
    height: 500px;
    margin: 10px 0;
}

.colonna-centrale {
    background-color: #ABCFE7;
    height: 500px;
    width: calc(60% - 20px);
    margin: 10px 10px;
}

footer {
    height: 40px;
    background-color: #8B2CFD;
    margin-top: 10px;
}